/* custom.css */

/* Cor de fundo principal e da fonte */
body {
  background-color: #2E2E2E; /* Cinza escuro GIMP */
  color: #E0E0E0;
}

/* Cor do menu lateral e borda */
.sidebar {
  background-color: #4D4D4D; /* Cinza médio GIMP */
  border-right: 1px solid #555;
}

/* Cor dos links no menu */
.sidebar ul li a {
  color: #E0E0E0;
}

/* Cor do link ativo no menu */
.sidebar ul li a.active {
  border-right: 3px solid #5E9A4B; /* Verde GIMP */
  color: white;
  background-color: #555;
}

/* Cor dos títulos principais */
h1, h2, h3, h4, h5, h6 {
  color: white;
  border-bottom: 2px solid #5E9A4B;
}

/* Cor dos links no conteúdo */
a {
  color: #5E9A4B;
}

/* Remove a cor de fundo do nome do projeto para mostrar o logo */
.app-name .app-name-link {
    background-color: transparent;
}
