/* style.css */

/* Configurações gerais do corpo da página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2E2E2E; /* Cinza escuro do GIMP */
    color: #E0E0E0; /* Cor de texto clara */
}

/* Estilo do cabeçalho com o logo e o nome do projeto */
header {
    background-color: #4D4D4D; /* Cinza um pouco mais claro */
    padding: 20px;
    text-align: center;
    border-bottom: 3px solid #5E9A4B; /* Verde para destaque */
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

/* Estilo da barra de navegação */
nav {
    display: flex;
    justify-content: center;
    background-color: #444;
}

nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

/* Efeito ao passar o mouse sobre os links */
nav a:hover {
    background-color: #5E9A4B;
    color: white;
}

/* Área principal do conteúdo */
main {
    padding: 20px;
}

/* Estilo do rodapé */
footer {
    text-align: center;
    padding: 10px;
    background-color: #4D4D4D;
    position: fixed;
    bottom: 0;
    width: 100%;
}
